<nav class="navbar is-white topNav">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="../">
                <img src="../assets/images/longLogo.png">
            </a>
            <div class="navbar-burger burger" data-target="topNav">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="topNav" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-small is-info is-outlined" href="/">
                                <span class="icon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <span>Logout</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar is-white">
    <div class="container">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item is-active" id="discussTab" href="#">Discussions</a>
                <a class="navbar-item is-active" id="createTab" href="/post">Create Post</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <form action= "post/search" class="search-form">
                        <input type="search" name="term" placeholder="Search topics...">
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="container">
    <div class="columns">
        <div class="column is-3">
            <a class="button is-primary is-block is-alt is-large" href="/post">New Discussion</a>
        </div>
        <ul>
            {{#each Post}}
            {{log this}}
            {{debugger}}
            <li>
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img id="image-init" src= "https://ui-avatars.com/api?name={{this.dataValues.name}}"/>
                        </p>

                    </figure>                    

                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <large>{{this.dataValues.topic}}</large>
                                    <br>
                                    {{this.dataValues.body}}
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a class="button is-small is-info is-outlined" href="/">
                                <span class="icon">
                                    <i class="fa fa-reply"></i>
                                </span>
                                <span>Reply</span>
                            </a>
                                </div>
                            </nav>
                        </div>
                    </article>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <div class="columns is-mobile is-centered">
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control">
                        <div class="tags has-addons">
                            <a class="tag is-link" href="https://github.com/DrBailey13/project2">UNC
                                Charlotte Web Development Student Forum</a>
                            <span class="tag is-light">Contributors: DeVante Bailey, Jodi Rhoades, Meredith Grimes,
                                Tyler Cauley</span>
                        </div>
                    </div>
                    <div class="control">
                        <div class="tags has-addons">
                            <a class="tag is-link">The source code is licensed</a>
                            <span class="tag is-light">MIT &nbsp;<i class="fa fa-github"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>