<nav class="navbar is-white is-mobile is-desktop">
    <div class="navbar-brand">
        {{!-- Logo Image --}}
        <a class="navbar-item">
            <img src="../assets/images/longLogo.png" alt="logo" width="112" height="28">
        </a>
        {{!-- Hamburger Menu --}}
        <div class="navbar-burger burger" data-target="navMenuColorwhite-example">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navMenuColorwhite-example" class="navbar-menu">
        {{!-- NavBar Start (left) with tab--}}
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">

                <a class="navbar-item is-active" id="discussTab" href="/forum">Discussions</a>
            </div>
        </div>
        <div class="navbar-end">
            {{!-- Search Bar --}}
            <div class="navbar-item">
                <form action="post/search" class="search-form" id="searchForm">
                    <input type="search" name="term" id="searchQuery" placeholder="Search topics...">
                </form>
            </div>
            {{!-- Logout Button --}}
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button is-small is-info is-outlined" href="/">
                            <span class="icon">
                                <i class="fa fa-user"></i>
                            </span>
                            <span>Logout</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</nav>


<section class="container is-mobile is-desktop">
    <div class="columns">
        <div class="column is-3">
            <a class="button is-primary is-block is-alt is-large" href="/post">New Discussion</a>
        </div>
        <div class="container is-fluid">
            <ul>
                {{#each Post}}
                {{log this}}
                {{debugger}}
                <li>
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img id="image-init" src="https://ui-avatars.com/api?name={{this.dataValues.name}}" />
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <large>{{this.dataValues.topic}}</large>
                                    <br>
                                    {{this.dataValues.body}}
                                </p>
                                <nav class="level">
                                    <div class="level-left">
                                        <a class="button is-primary modal-button"
                                            class="button is-small is-info is-outlined" data-target="#modal">
                                            <span class="icon">
                                                <i class="fa fa-reply"></i>
                                            </span>
                                            <span id="pK" data-id="{{this.dataValues.id}}">Reply</span>
                                        </a>
                                    </div>
                                </nav>
                                <br>
                            </div>
                        </div>

                    </article>
                    <br>
                </li>
                {{/each}}
            </ul>
            {{!-- reply --}}
            <section class="modal-container">
                <ul id="replies">
                    {{#each Reply}}
                    {{log this}}
                    {{debugger}}
                    <li>
                        <article class="media">
                            <div class="modal-media-content">
                                <div class="content">
                                    <figure class="media-left">
                                        <p class="image is-64x64">
                                            <img id="image-init"
                                                src="https://ui-avatars.com/api?name={{this.dataValues.name}}" />
                                        </p>
                                    </figure>
                                    <div class="replyBox">
                                        <figure class="media-left">
                                            <p class="image is-64x64">
                                                <img id="image-init"
                                                    src="https://ui-avatars.com/api?name={{this.dataValues.name}}" />
                                            </p>
                                        </figure>
                                        <h1 id="reply"></h1>
                                        <p id="replyBody">
                                            {{!-- attach Id from DB to displaynone()
                                             <large>{{this.dataValues.topic}}</large> --}}
                                            <br>
                                            {{this.dataValues.body}}
                                        </p>
                                    </div>

                                    <div class="media-content border-is-transparent">
                                        <nav class="level is-mobile">
                                            <div class="level-left">
                                                <div class="modal-border">
                                                    <a class="button is-primary modal-button" data-target="#modal"
                                                        class="button is-small is-info is-outlined">
                                                        <span class="icon">
                                                            <i class="fa fa-reply"></i>
                                                        </span>
                                                        {{!-- <article id="postId" data-ID></article> --}}
                                                        <span>Reply</span>
                                                        {{!-- attach unique ID via data target --}}
                                                        {{!-- dataset.post id --}}
                                                    </a>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    {{/each}}
                </ul>
            </section>
            {{!-- reply --}}
        </div>
    </div>
</section>

{{!-- REPLY MODAL/INPUT --}}



{{!-- Modal --}}

<div id="modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="modal-box">
            <div class="field">
                <div class="control">
                    <input class="input is-primary" type="text" placeholder="Enter First and Last Initials Here"
                        id="replyInitials">
                </div>
            </div>
        </div>
        <article class="media">
            <div class="media-content">
                <div class="field">
                    <p class="control">
                        <textarea class="textarea" placeholder="Add a comment..." id="replyBody"></textarea>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <button id="submitReply" class="button">Post Reply</button>
                    </p>
                </div>
            </div>
    </div>
</div>
<button class="modal-close is-large" aria-label="close"></button>
</div>
</div>
</section>

{{!-- modal scripts --}}
<script>
    $(".modal-button").click(function () {
        var target = $(this).data("target");
        $("html").addClass("is-clipped");
        $(target).addClass("is-active");
    });

    $(".modal-close").click(function () {
        $("html").removeClass("is-clipped");
        $(this).parent().removeClass("is-active");
    });
</script>

{{!-- REPLY MODAL/INPUT  END--}}
<footer class="footer is-mobile is-desktop">
    <div class="container">
        <div class="content has-text-centered">
            <div class="columns is-centered">
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control">
                        <div class="tags has-addons">
                            <a class="tag is-link" href="https://github.com/DrBailey13/project2">UNC
                                Charlotte Web Development Student Forum</a>
                            <span class="tag is-light">GitHub &nbsp;<i class="fa fa-github"></i></span>
                        </div>
                    </div>
                    <div class="control">
                        <div class="tags has-addons">
                            <a class="tag is-link">The source code is licensed</a>
                            <span class="tag is-light">MIT &nbsp;<i class="fa fa-github"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>